{% extends 'selia/create/base.html' %}
{% load i18n %}
{% load selia_components %}

{% block toolbar-title %}
  {% trans 'Create sampling event' %}
{% endblock toolbar-title %}

{% block secondary-navbar %}
{% include 'selia/navbars/collection.html' %}
{% endblock %}

{% block head-extra %}
  {{ block.super }}
  {% include 'selia/components/media/map_media.html' %}
{% endblock %}

{% block scripts-extra %}
  {{ block.super }}
  {% include 'selia/components/media/datetime_media.html' %}
{% endblock scripts-extra%}

{% block toolbar-steps %}
  <li>
    <a href="{% url 'selia:create_sampling_event' %}?{{ request.GET|remove_fields:'collection&collection_site&sampling_event_type' }}">
      {% trans 'Select collection' %}
    </a>
  </li>
  <li>
    <a href="{% url 'selia:create_sampling_event' %}?{{ request.GET|remove_fields:'collection_site&sampling_event_type' }}">
      {% trans 'Select sampling event type' %}
    </a>
  </li>
  <li>
    <a href="{% url 'selia:create_sampling_event' %}?{{ request.GET|remove_fields:'collection_site' }}">
      {% trans 'Select collection site' %}
    </a>
  </li>
  <li class="is-active">{% trans 'Fill in details' %}</li>
{% endblock %}

{% block step-title %}
  {%trans 'Fill in details' %}
{% endblock step-title %}

{% block previously-selected %}
  <div class="row w-100 my-2">
    <div class="col">
      <a class="w-100 text-center" href="#collapseCollectionSite" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCollectionSite"><h4>{% trans 'Selected site' %}: {{ collection_site.pk }}</h4></a>
      <div class="collapse w-100" id="collapseCollectionSite">
        <div class="d-flex justify-content-center w-100">
          {% include 'selia/components/select_list_items/collection_sites.html' with item=collection_site %}
        </div>
      </div>
    </div>
  </div>

  <div class="row w-100 my-2">
    <div class="col">
      <a class="w-100 text-center" href="#collapseSamplingEventType" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSamplingEventType"><h4>{% trans 'Selected sampling event type' %}: {{ sampling_event_type.pk }}</h4></a>
      <div class="collapse w-100" id="collapseSamplingEventType">
        <div class="d-flex justify-content-center w-100">
          {% include 'selia/components/select_list_items/sampling_event_type.html' with item=sampling_event_type %}
        </div>
      </div>
    </div>
  </div>
{% endblock previously-selected %}

{% block form-content %}
  <input type="hidden" id="collection_field" name="collection" value="{{ collection.pk }}">
  <input type="hidden" id="sampling_event_type_field" name="sampling_event_type" value="{{ sampling_event_type.pk }}">
  <input type="hidden" id="collection_site_field" name="collection_site" value="{{ collection_site.pk }}">

  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="row">
        <h4 class="w-100 text-center">{% trans 'Started on' %}</h4>
      </div>
      <div class="row px-5">
        {{ form.started_on }}
      </div>
    </div>
  </div>

  <div class="row mt-4 d-flex justify-content-center">
    <div class="col-md-8">
      <div class="row">
        <h4 class="w-100 text-center">{% trans 'Ended on' %}</h4>
      </div>
      <div class="row px-5">
        {{ form.ended_on }}
      </div>
    </div>
  </div>

  {% if sampling_event_type.metadata_schema %}
  <hr/>
  <div class="row d-flex justify-content-center w-100">
    <div class="col">
      <div class="row">
        <h4 class="w-100 text-center">{% trans 'Metadata' %}</h4>
      </div>
      <div class="row px-5">
        {{ form.metadata }}
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
