{% extends 'selia_templates/create/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_filters %}
{% load selia_maps %}

{% block toolbar-title %}
  {% trans 'Create sampling event' %}
{% endblock toolbar-title %}

{% block secondary-navbar %}
{% include 'selia/navbars/collection.html' %}
{% endblock %}

{% block head-extra %}
  {{ block.super }}
  {% selia_map_media %}
  {% include 'selia/media/json_form_media.html' %}
{% endblock %}

{% block scripts-extra %}
  {{ block.super }}
  {% include 'selia/media/datetime_media.html' %}

  <script type="text/javascript">
    $('.map').on('shown.bs.collapse', function() {
      console.log('')
    })
  </script>
{% endblock scripts-extra%}

{% block toolbar-steps %}
  <li>
    <a href="{% url 'selia:create_sampling_event' %}?{{ request.GET|remove_fields:'collection&collection_site&sampling_event_type' }}">
      {% trans 'Select collection' %}
    </a>
  </li>
  <li>
    <a href="{% url 'selia:create_sampling_event' %}?{{ request.GET|remove_fields:'collection_site&sampling_event_type' }}">
      {% trans 'Select sampling event type' %}
    </a>
  </li>
  <li>
    <a href="{% url 'selia:create_sampling_event' %}?{{ request.GET|remove_fields:'collection_site' }}">
      {% trans 'Select collection site' %}
    </a>
  </li>
  <li class="is-active">{% trans 'Fill in details' %}</li>
{% endblock %}

{% block step-title %}
  {%trans 'Fill in details' %}
{% endblock step-title %}

{% block previously-selected %}
  {% trans 'Selected site' as label %}
  {% selected_item 'collection_sites' collection_site label %}

  {% trans 'Selected sampling event type' as label %}
  {% selected_item 'sampling_event_type' sampling_event_type label %}
{% endblock previously-selected %}

{% block form-content %}
  <input type="hidden" id="collection_field" name="collection" value="{{ collection.pk }}">
  <input type="hidden" id="sampling_event_type_field" name="sampling_event_type" value="{{ sampling_event_type.pk }}">
  <input type="hidden" id="collection_site_field" name="collection_site" value="{{ collection_site.pk }}">

  <div class="row d-flex justify-content-center">
    <div class="col">
      <div class="form-row">
        <div class="col px-4">
          {{ form.started_on.label_tag }}
          {{ form.started_on }}
        </div>
        <div class="col px-4">
          {{ form.ended_on.label_tag }}
          {{ form.ended_on }}
        </div>
      </div>
    </div>
  </div>

  {% if sampling_event_type.metadata_schema|is_not_trivial_schema %}
  <hr/>
  <div class="row d-flex justify-content-center w-100">
    <div class="col">
      <div class="row">
        <h4 class="w-100 text-center">{% trans 'Metadata' %}</h4>
      </div>
      <div class="row px-5">
        {{ form.metadata }}
      </div>
    </div>
  </div>
  {% endif %}
{% endblock %}
