{% load i18n %}
{% load selia_forms %}
{% load selia_tags %}


<div class="row w-100 p-2">
  <div class="col">
    <div class="dropdown">
      <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseLicenceType">
        {% trans 'Licence type' %}
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="container p-3">
            <div class="row">
              <div class="col">
                {% trans 'Equals' as label %}
                {{ filter.form.licence_type__name | selia_filter:label }}
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
      <div class="dropdown">
        <a class="btn btn-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-controls="collapseEndedOn">
          {% trans 'Years valid' %}
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <div class="container p-3">
          {% trans 'From' as label %}
          {{ filter.form.licence_type__years_valid_for__gt | selia_filter:label }}

          {% trans 'To' as label %}
          {{ filter.form.licence_type__years_valid_for__lt | selia_filter:label }}
          </div>
        </div>
      </div>
  </div>
</div>
