{% load i18n %}
{% load selia_buttons %}

{% block summary %}
<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125">
    <strong class="d-block text-gray-dark">{% trans 'Items' %}</strong>
    <div class="row">
      <div class="col-3">
        {% trans 'Number' %}: {{ object.items.count }}
      </div>
      <div class="col-6">
        {% trans 'Last added on' %}: {{ object.items.first.created_on }}
      </div>
      <div class="col-1">
        {% include 'selia_user_home/links/list_items.html' with site=object %}
      </div>
      <div class="col-2">
        {% include 'selia_user_home/links/create_item.html' with site=object %}
      </div>
    </div>
  </div>
</div>
<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125">
    <strong class="d-block text-gray-dark">{% trans 'Sampling events' %}</strong>
    <div class="row">
      <div class="col-3">
        {% trans 'Number' %}: {{ object.sampling_events.count }}
      </div>
      <div class="col-6">
        {% trans 'Last added on' %}: {{ object.sampling_events.first.created_on }}
      </div>
      <div class="col-1">
        {% include 'selia_user_home/links/list_sampling_events.html' with site=object %}
      </div>
      <div class="col-2">
        {% include 'selia_user_home/links/create_sampling_event.html' with site=object %}
      </div>
    </div>
  </div>
</div>
{% endblock summary %}
