{% extends 'selia_templates/base_with_toolbar.html' %}
{% load selia_tags %}

{% block head-extra %}
  {{ block.super }}
  {{ form.media }}
{% endblock head-extra %}

{% block modals %}
  {{ block.super }}
  {% help_component help_template=help_template %}
  {% if permissions.change %}
    {% update_component update_template=update_form_template form=form %}
  {% endif %}
  {% if permissions.delete %}
    {% delete_component object=collection_device %}
  {% endif %}
{% endblock modals %}

{% block scripts-extra %}
  {{ block.super }}
  <script type="text/javascript">
    {% if form.errors %}
    $("#changeModal").modal('show');
    {% endif %}
  </script>
{% endblock scripts-extra %}
