{% extends 'selia/detail/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_buttons %}

{% block head-extra %}
  {{ block.super }}
  {% include 'selia/media/map_media.html' %}
{% endblock head-extra %}

{% block secondary-navbar %}
  {% include 'selia/navbars/collection.html' %}
{% endblock secondary-navbar %}

{% block toolbar-title %}{% trans 'Collection Device' %}: {{ collection_device }}{% endblock %}

{% block toolbar-items %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'selia:create_sampling_event_device' %}?collection={{ collection.name }}&collection_device={{ collection_device.pk }}">
      {% trans 'Deploy' %} <i class="fas fa-plus"></i> <i class="fas fa-tools"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'selia:create_item' %}?collection={{ collection.name }}&collection_site={{ collection_device.pk }}&sampling_event_filter-collection_site={{ collection_device.pk }}">
      {% trans 'Add items' %} <i class="fas fa-plus"></i> <i class="fas fa-file"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{% trans 'Download summary' %} <i class="fas fa-download"></i></a>
  </li>
  <li class="nav-item">
    {% help_button %}
  </li>
{% endblock toolbar-items %}

{% block main-content %}
<div class="container-fluid w-100">
  <div class="row bg-light my-4">
    <div class="container">
      {% detail_component detail_template=detail_template object=collection_device %}
    </div>
  </div>

  <div class="row bg-light my-4">
    <div class="container">
      {% summary_component summary_template=summary_template object=collection_device %}
    </div>
  </div>
</div>
{% endblock main-content %}

{% block scripts-extra %}
  {{ form.media }}
{% endblock scripts-extra %}
