{% extends 'selia_templates/detail/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_buttons %}

{% block secondary-navbar %}
  {% include 'selia/navbars/item.html' %}
{% endblock secondary-navbar %}

{% block toolbar-title %}
  {% trans 'Item' %} {% trans 'Detail' %}
{% endblock %}

{% block toolbar-center %}
<li class="nav-item">
  <a
    class="nav-link {% if not prev_object %}disabled{% endif %}"
    href="{% if prev_object %}{% url 'selia:item_detail' prev_object.pk %}{% endif %}?"
  >
    <i class="fas fa-chevron-left"></i> {% trans 'Previous' %}
  </a>
</li>

<li class="nav-item">
  <a
    class="nav-link {% if not next_object %}disabled{% endif %}"
    href="{% if next_object %}{% url 'selia:item_detail' next_object.pk %}{% endif %}?"
  >
    {% trans 'Next' %} <i class="fas fa-chevron-right"></i>
  </a>
</li>
{% endblock %} {% block toolbar-items %}
{% comment %}
<li class="nav-item">
  <a
    class="nav-link"
    href="{% url 'selia_annotator:annotator_app' %}?pk={{ item.pk }}"
  >
    {% trans 'Add annotation' %} <i class="fas fa-plus"></i>
    <i class="fas fa-target"></i>
  </a>
</li>
{% endcomment %}

<li class="nav-item">
  <a class="nav-link" href="#">
    {% trans 'Download summary' %} <i class="fas fa-download"></i>
  </a>
</li>

<li class="nav-item">
  {% help_button %}
</li>
{% endblock toolbar-items %} {% block main-content %}
<div class="container-fluid w-100">
  <div class="row bg-light my-4">
    <div class="container">
      <div class="row">
        <div class="col">
          {% detail_component detail_template=detail_template object=item %}
        </div>
        <div class="col">
          {% viewer_component viewer_template=viewer_template object=item %}
        </div>
      </div>
    </div>
  </div>
  <div class="row bg-light my-4">
    <div class="container">
      {% summary_component summary_template=summary_template object=item %}
    </div>
  </div>
</div>
{% endblock main-content %}

{% block scripts-extra %}
{{ block.super }}
{% autocomplete_media %}

<script
  crossorigin
  src="https://unpkg.com/react@16/umd/react.production.min.js"
></script>
<script
  crossorigin
  src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"
></script>
<script src="{{ visualizer_url }}" type="text/javascript"></script>
<script type="text/javascript">
  var config = {
    canvas: document.getElementById("visualizerCanvas"),
    toolbar: document.getElementById("visualizerToolbar"),
    active: true,
    itemInfo: {
      url: "{{ object.item_file.url }}",
    },
  };

  var isLoaded = false;
  var visualizer;

  $("#visualizerModal").on("shown.bs.modal", function (e) {
    if (!(isLoaded)) {
      visualizer = new Visualizer.default(config);
    }
  });
</script>
{% endblock %}
