{% extends 'selia/detail/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_buttons %}

{% block secondary-navbar %}
  {% include 'selia/navbars/user.html' %}
{% endblock secondary-navbar %}

{% block toolbar-title %}{% trans 'User device detail' %}{% endblock %}

{% block toolbar-items %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'selia:create_sampling_event_device' %}?physical_device={{ object.pk }}&collection_device_filter-physical_device={{ object.pk }}">
      {% trans 'Add deployment' %} <i class="fas fa-plus"></i> <i class="fas fa-tools"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'selia:create_collection_device' %}?physical_device={{ object.pk }}">
      {% trans 'Add to collection' %} <i class="fas fa-plus"></i> <i class="fas fa-archive"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="% url 'selia:create_item' %}?physical_device={{ object.pk }}&collection_device_filter-physical_device={{ object.pk }}&sampling_event_device_filter-collection_device__physical_device={{ object.pk }}">
      {% trans 'Add item' %} <i class="fas fa-plus"></i> <i class="fas fa-file"></i>
    </a>
  </li>
  <li class="navbar-item ">
    <button type="button" class="btn btn-link">
      {% trans "Download Summary" %} <i class="fas fa-file-download"></i>
    </button>
  </li>
  <li class="navbar-item ">
    {% help_button %}
  </li>
{% endblock toolbar-items %}

{% block main-content %}
  <div class="container-fluid">
    <div class="row p-2">
      <div class="col-6 p-2">
        {% detail_component detail_template=detail_template object=object %}
      </div>
      <div class="col-6 p-2">
        {% summary_component summary_template=summary_template object=object %}
      </div>
    </div>
  </div>
{% endblock main-content %}
