{% extends 'selia/detail/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_maps %}
{% load selia_buttons %}

{% block toolbar-title %}
  {% trans 'Deployed Device' %} {% trans 'Detail' %}
{% endblock %}

{% block head-extra %}
  {{ block.super }}
  {% selia_map_media %}
{% endblock head-extra %}

{% block secondary-navbar %}
{% include 'selia/navbars/sampling_event_device.html' %}
{% endblock secondary-navbar %}

{% block toolbar-items %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'selia:create_item' %}?collection={{ object.sampling_event.collection.name }}&sampling_event={{ object.sampling_event.pk }}&sampling_event_device={{ object.pk }}">
    {% trans 'Add item' %} <i class="fas fa-plus"></i> <i class="fas fa-file"></i>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">{% trans 'Download summary' %} <i class="fas fa-download"></i></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">{% trans 'Help' %} <i class="fas fa-question"></i></a>
</li>
{% endblock toolbar-items %}

{% block main-content %}
<div class="container-fluid w-100">
  <div class="row bg-light my-4">
    <div class="container">
      {% detail_component detail_template=detail_template object=sampling_event_device %}
    </div>
  </div>
  <div class="row bg-light my-4">
    <div class="container">
      {% viewer_component viewer_template=viewer_template object=sampling_event_device %}
    </div>
  </div>
  <div class="row bg-light my-4">
    <div class="container">
      {% summary_component summary_template=summary_template object=sampling_event_device %}
    </div>
  </div>
</div>
{% endblock main-content %}

{% block scripts-extra %}
  {{ block.super }}
  {% include 'selia/media/datetime_media.html' %}
{% endblock %}
