{% extends 'selia_templates/detail/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_maps %}
{% load selia_buttons %}

{% block secondary-navbar %}
  {% include 'selia/navbars/sampling_event.html' %}
{% endblock secondary-navbar %}

{% block head-extra %}
  {{ block.super }}
  {% selia_map_media %}
{% endblock head-extra %}

{% block toolbar-title %}{% trans 'Sampling Event' %} {% trans 'Detail' %}{% endblock %}

{% block toolbar-items %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'selia:create_item' %}?sampling_event={{ sampling_event.pk }}&collection={{ sampling_event.collection.name }}">{% trans 'Add items' %} <i class="fas fa-plus"></i> <i class="far fa-file"></i></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'selia:create_collection_device' %}?collection={{ sampling_event.collection.name }}">{% trans 'Deploy device' %} <i class="fas fa-plus"></i> <i class="fas fa-tools"></i></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">{% trans 'Download summary' %} <i class="fas fa-download"></i></a>
</li>
<li class="nav-item">
  {% help_button %}
</li>
{% endblock toolbar-items %}

{% block main-content %}
<div class="container-fluid w-100">
  <div class="row bg-light my-4">
    <div class="container">
      {% detail_component detail_template=detail_template object=sampling_event %}
    </div>
  </div>
  <div class="row bg-light my-4">
    <div class="container">
      {% viewer_component viewer_template=viewer_template object=sampling_event %}
    </div>
  </div>
  <div class="row bg-light my-4">
    <div class="container">
      {% summary_component summary_template=summary_template object=sampling_event %}
    </div>
  </div>
</div>
{% endblock main-content %}

{% block scripts-extra %}
  {{ block.super }}
  {% include 'selia/media/datetime_media.html' %}
{% endblock %}
