{% extends 'selia_templates/base_with_toolbar.html' %}
{% load static %}
{% load i18n %}
{% load selia_tags %}

{% block secondary-navbar %}
  {% include 'selia_uploader/secondary_navbar.html' %}
{% endblock %}

{% block toolbar-title %}
  {% trans 'Add items' %}
{% endblock toolbar-title %}

{% block stylesheet %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'selia_uploader/css/main.css' %}">
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/react-datepicker/2.14.1/react-datepicker.min.css" />

{% endblock %}

{% block scripts-extra %}
{{ block.super }}
<script>
  const dataFromParams = {{ args | safe }};
</script>
<script src="{% static 'selia_uploader/js/upload_app.js' %}"></script>
{% endblock %}

{% block toolbar-steps %}
{% endblock %}

{% block main-content %}
<div class="container-fluid">
  <div class="app-container" id="upload-app">
    AQUI VA LA APP
  </div>
</div>
{% endblock main-content %}
