{% extends 'selia/create/base.html' %}
{% load selia_tags %}
{% load selia_forms %}
{% load selia_maps %}
{% load i18n %}

{% block toolbar-title %}
  {% trans 'Create site' %}
{% endblock toolbar-title %}

{% block secondary-navbar %}
{% include 'selia/navbars/user.html' %}
{% endblock %}

{% block head-extra %}
  {% selia_map_media %}
{% endblock %}

{% block step-title %}
  {% trans 'Create site' %}
{% endblock %}

{% block step-description %}
  {% blocktrans %}
    Please fill in the following information
  {% endblocktrans %}
{% endblock step-description %}

{% block form-content %}
  <div class="row p-2">
    {% bootstrap_form form.name %}
  </div>
  <div class="row p-2">
    <div class="col">
      <div class="row">
        {% bootstrap_form form.latitude %}
      </div>
      <div class="row">
        {% bootstrap_form form.longitude %}
      </div>
      <div class="row">
        {% bootstrap_form form.altitude %}
      </div>
      <div class="row">
        {% bootstrap_form form.locality %}
      </div>
    </div>
    <div class="col">
      {% form_map form.latitude form.longitude locality %}
    </div>
  </div>
{% endblock form-content %}

{% block scripts-extra %}
  {{ block.super }}
  {% autocomplete_media %}
{% endblock scripts-extra %}
