{% extends 'selia/create/base.html' %}
{% load i18n %}
{% load selia_components %}

{% block toolbar-title %}
  {% trans 'Add deployed device' %}
{% endblock toolbar-title %}

{% block secondary-navbar %}
  {% include 'selia/navbars/sampling_event.html' %}
{% endblock %}

{% block toolbar-steps %}
<li>
  <a href="{% url 'selia:create_sampling_event_device' %}?{{ request.GET|remove_fields:'collection&sampling_event&collection_device' }}">
    {% trans 'Select collection' %}
  </a>
</li>
<li>
  <a href="{% url 'selia:create_sampling_event_device' %}?{{ request.GET|remove_fields:'sampling_event&collection_device' }}">
    {% trans 'Select sampling event' %}
  </a>
</li>
<li>
  <a href="{% url 'selia:create_sampling_event_device' %}?{{ request.GET|remove_fields:'collection_device' }}">
    {% trans 'Select device' %}
  </a>
</li>
<li class="is-active">{% trans 'Fill in details' %}</li>
{% endblock %}

{% block step-title %}
  {% trans 'Fill in details' %}
{% endblock %}

{% block step-description %}
  {% blocktrans %}
  Please provide information about the deployment of the device in the sampling event.
  {% endblocktrans %}
{% endblock %}

{% block previously-selected %}
  <div class="row w-100 my-2">
    <div class="col">
      <a class="w-100 text-center" href="#collapseSamplingEvent" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSamplingEvent">
        <h4>{% trans 'Selected sampling event' %}: {{ sampling_event.pk }}</h4>
      </a>
      <div class="collapse w-100" id="collapseSamplingEvent">
        <div class="d-flex justify-content-center w-100">
          {% include 'selia/components/select_list_items/sampling_events.html' with item=sampling_event %}
        </div>
      </div>
    </div>
  </div>

  <div class="row w-100 my-2">
    <div class="col">
      <a class="w-100 text-center" href="#collapseSiteType" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseSiteType">
        <h4>{% trans 'Selected device' %}: {{ collection_device.pk }}</h4>
      </a>
      <div class="collapse w-100" id="collapseSiteType">
        <div class="d-flex justify-content-center w-100">
          {% include 'selia/components/select_list_items/collection_devices.html' with item=collection_device %}
        </div>
      </div>
    </div>
  </div>
{% endblock previously-selected %}

{% block form-content %}
  <input type="hidden" id="collection_device_field" name="collection_device" value="{{ collection_device.pk }}">
  <input type="hidden" id="sampling_event_field" name="sampling_event" value="{{ sampling_event.pk }}">

  <div class="row">
    <div class="col">
      <div class="row px-5">
          {% bootstrap_form form.commentaries %}
      </div>
    </div>
  </div>

  {% if collection_device.physical_device.device.configuration_schema or info.metadata_schema %}
  <hr/>
  <div class="row mb-3">
    {% if collection_device.physical_device.device.configuration_schema %}
    <div class="col mx-1">
      <div class="container">
        {{ form.configuration }}
      </div>
    </div>
    {% endif %}
    {% if info.metadata_schema %}
    <div class="col mx-1">
      <div class="container">
        {{ form.metadata }}
      </div>
    </div>
    {% endif %}
  </div>
  {% endif %}
{% endblock form-content %}
