{% extends 'selia/create/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_filters %}
{% load selia_forms %}
{% load selia_maps %}

{% block toolbar-title %}
  {% trans 'Add deployed device' %}
{% endblock toolbar-title %}

{% block secondary-navbar %}
  {% include 'selia/navbars/sampling_event.html' %}
{% endblock %}

{% block head-extra %}
  {{ block.super }}
  {% selia_map_media %}
  {% include 'selia/media/json_form_media.html' %}
{% endblock %}


{% block toolbar-steps %}
<li>
  <a href="{% url 'selia:create_sampling_event_device' %}?{{ request.GET|remove_fields:'collection&sampling_event&collection_device' }}">
    {% trans 'Select collection' %}
  </a>
</li>
<li>
  <a href="{% url 'selia:create_sampling_event_device' %}?{{ request.GET|remove_fields:'sampling_event&collection_device' }}">
    {% trans 'Select sampling event' %}
  </a>
</li>
<li>
  <a href="{% url 'selia:create_sampling_event_device' %}?{{ request.GET|remove_fields:'collection_device' }}">
    {% trans 'Select device' %}
  </a>
</li>
<li class="is-active">{% trans 'Fill in details' %}</li>
{% endblock %}

{% block step-title %}
  {% trans 'Fill in details' %}
{% endblock %}

{% block step-description %}
  {% blocktrans %}
  Please provide information about the deployment of the device in the sampling event.
  {% endblocktrans %}
{% endblock %}

{% block previously-selected %}
  {% trans 'Selected sampling event' as label %}
  {% selected_item 'sampling_events' sampling_event label %}

  {% trans 'Selected device' as label %}
  {% selected_item 'collection_devices' collection_device label %}
{% endblock previously-selected %}

{% block form-content %}
  <input type="hidden" id="collection_device_field" name="collection_device" value="{{ collection_device.pk }}">
  <input type="hidden" id="sampling_event_field" name="sampling_event" value="{{ sampling_event.pk }}">

  <div class="row px-5 mb-3 form-check">
    <label class="form-check-label mr-2" for="useSamplingEventDates">
      <h5>
        {% trans 'Use sampling event starting and ending dates as deployment dates?' %}
      </h5>
    </label>
    <input class="form-check-input ml-1" type="checkbox" id="useSamplingEventDates" data-toggle="collapse" data-target="#dates">
  </div>

  <div class="collapse show" id="dates">
    <div class="row px-5 mb-3">
      <div class="col">
          {% bootstrap_form form.deployed_on %}
      </div>
      <div class="col">
          {% bootstrap_form form.recovered_on %}
      </div>
    </div>
  </div>

  <div class="row px-5 mb-3 form-check">
    <label class="form-check-label mr-2" for="useSamplingEventLocation">
      <h5>
        {% trans 'Use sampling event site for deployment location?' %}
      </h5>
    </label>
    <input class="form-check-input ml-1" type="checkbox" id="useSamplingEventLocation" data-toggle="collapse" data-target="#location">
  </div>

  <div class="collapse show" id="location">
    <div class="row px-5 mb-3">
      <div class="col">
        <div class="row">
          {% bootstrap_form form.latitude %}
        </div>
        <div class="row">
          {% bootstrap_form form.longitude %}
        </div>
        <div class="row">
          {% bootstrap_form form.altitude %}
        </div>
      </div>
      <div class="col">
        {% sampling_event_form_map form.latitude form.longitude sampling_event collection_device %}
      </div>
    </div>
  </div>

  <div class="row px-5 mb-3">
    <div class="col">
      <div class="row">
          {% bootstrap_form form.commentaries %}
      </div>
    </div>
  </div>

  {% if collection_device.physical_device.device.configuration_schema|is_not_trivial_schema or info.metadata_schema|is_not_trivial_schema %}
  <hr/>
  <div class="row mb-3 mb-3">
    {% if collection_device.physical_device.device.configuration_schema|is_not_trivial_schema %}
    <div class="col mx-1">
      <div class="container">
        {{ form.configuration }}
      </div>
    </div>
    {% endif %}
    {% if info.metadata_schema|is_not_trivial_schema %}
    <div class="col mx-1">
      <div class="container">
        {{ form.metadata }}
      </div>
    </div>
    {% endif %}
  </div>
  {% endif %}
{% endblock form-content %}

{% block scripts-extra %}
  {{ block.super }}
  {% include 'selia/media/datetime_media.html' %}
{% endblock scripts-extra%}
