{% extends 'selia/components/list_item.html' %}
{% load selia_buttons %}
{% load i18n %}

{% block list-item-content %}
<div class="row w-100">
  <div class="col">
    <div class="media">
      {% if item.logo %}
      <img class="mr-3 img-thumbnail" src="{{ item.logo.url }}" alt="logo">
      {% endif %}
      <div class="media-body mt-0">
        <h4 class="mt-0"><a href="#">{{ item.name }}</a></h4>
        {{ item.description }}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <h6>{% trans 'Collection type' %}</h6>
      <div class="text-muted ml-4">{{ item.collection_type }}</div>
    </div>
    <div class="row">
      <h6>{% trans 'Institution' %}</h6>
      <div class="text-muted ml-4">{{ item.institution }}</div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <h6>{% trans 'Admins' %}</h6>
      <div class="text-muted ml-4">{{ item.administrators.count }}</div>
    </div>
    <div class="row">
      <h6>{% trans 'Users' %}</h6>
      <div class="text-muted ml-4">{{ item.users.count }}</div>
    </div>
    <div class="row">
      <h6>{% trans 'Items' %}</h6>
      <div class="text-muted ml-4">{{ item.items }}</div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <a href="#">{% add_button %} Admin</a>
    </div>
    <div class="row">
      <a href="#">{% see_button %}</a>
    </div>
  </div>
</div>
{% endblock list-item-content %}
