{% extends 'selia_templates/list/list_item.html' %}
{% load selia_buttons %}
{% load selia_tags %}
{% load static %}
{% load i18n %}

{% block list-item-content %}
<div class="row w-100">
  <div class="col">
    {% listtitle %}
      {% if item.device.device.device_type.icon %}
        {% list_icon item.device.device_type.icon %}
      {% else %}
        {{ item.device.device_type.name }}
      {% endif %}
    {% endlistimage %}
      {{ item.identifier }}
    {% endlistheader %}
      <div><b>{{ item.device.brand }}</b> {{ item.device.model }}</div>
      <div>
        <a href="{% url 'selia:physical_device_detail' item.pk %}">
          {% enter_button %}
        </a>
      </div>
    {% endlisttitle%}
  </div>

  <div class="col">
      <div class="row">
        {% listattribute %}
          {% trans 'Name' %}
        {% attributevalue %}
          {{ item.identifier }}
        {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Device type' %}
      {% attributevalue %}
        {{ item.device.device_type }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Serial Number' %}
      {% attributevalue %}
        {{ item.serial_number }}
      {% endlistattribute %}
    </div>
  </div>

  <div class="col">
    <div class="row">
      {% listsummary %}
        {% trans 'Collections' %}
      {% summarycount %}
        {{ item.collectiondevice_set.count }}
      {% summarybuttons %}
        <a href="{% url 'selia:user_collections' %}?collectiondevice__physical_device={{ item.pk }}">
          {% see_button %}
        </a>
        <a class="ml-2" href="{% url 'selia:create_collection_device' %}?physical_device={{ item.pk }}">
          {% add_button %}
        </a>
      {% endlistsummary %}
    </div>
    <div class="row">
      {% listsummary %}
        {% trans 'Items captured' %}
      {% summarycount %}
        {{ item.items.count }}
      {% summarybuttons %}
        <a href="{% url 'selia:user_items' %}?sampling_event_device__collection_device__physical_device={{ item.pk }}">
          {% see_button %}
        </a>
        <a class="ml-2" href="{% url 'selia:create_item' %}?physical_device={{ item.pk }}&collection_device_filter-physical_device={{ item.pk }}&sampling_event_device_filter-collection_device__physical_device={{ item.pk }}">
          {% add_button %}
        </a>
      {% endlistsummary %}
    </div>
    <div class="row">
      {% listsummary %}
        {% trans 'Deployments' %}
      {% summarycount %}
        {{ item.sampling_events.count }}
      {% summarybuttons %}
        <a href="{% url 'selia:user_sampling_events' %}?samplingeventdevice__collection_device__physical_device={{ item.pk }}">
          {% see_button %}
        </a>
        <a class="ml-2" href="{% url 'selia:create_sampling_event_device' %}?physical_device={{ item.pk }}&collection_device_filter-physical_device={{ item.pk }}">
          {% add_button %}
        </a>
      {% endlistsummary %}
    </div>
  </div>
</div>
{% endblock %}
