{% extends 'selia/components/list_item.html' %}
{% load selia_buttons %}
{% load selia_tags %}
{% load static %}
{% load i18n %}

{% block list-item-content %}
<div class="row w-100">
  <div class="col">
    {% listtitle %}
      {% list_icon item.collection_device.physical_device.device.device_type.icon %}
    {% endlistimage %}
      {{ item.collection_device.physical_device.device.brand }}
    {% endlistheader %}
      <div>
        {{ item.collection_device.physical_device.device.model }}
      </div>
      <div>
        <a href="{% url 'selia:sampling_event_device_detail' item.pk %}">
          {% enter_button %}
        </a>
      </div>
    {% endlisttitle %}
  </div>
  <div class="col">
    <div class="row">
      {% listattribute %}
        {% trans 'Device type' %}
      {% attributevalue %}
        {{ item.collection_device.physical_device.device.device_type }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Serial Number' %}
      {% attributevalue %}
        {{ item.collection_device.physical_device.serial_number }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Name' %}
      {% attributevalue %}
        {{ item.collection_device.internal_id }}
      {% endlistattribute %}
    </div>
  </div>
  <div class="col">
    <div class="row">
      {% listattribute %}
        {% trans 'Collection' %}
      {% attributevalue %}
        {{ item.collection_device.collection }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Owner' %}
      {% attributevalue %}
        {{ item.collection_device.physical_device.created_by }}
      {% endlistattribute %}
    </div>
  </div>

  <div class="col">
    <div class="row">
      {% listsummary %}
        {% trans 'Items' %}
      {% summarycount %}
        {{ item.item_set.count }}
      {% summarybuttons %}
        <a href="{% url 'selia:collection_items' item.sampling_event.collection.pk %}?sampling_event_device={{ item.pk }}">
          {% see_button %}
        </a>
        <a class="ml-2" href="{% url 'selia:create_item' %}?collection={{ item.sampling_event.collection.pk }}&sampling_event={{ item.sampling_event.pk }}&sampling_event_device={{ item.pk }}">
          {% add_button %}
        </a>
      {% endlistsummary %}
    </div>
  </div>
</div>
{% endblock list-item-content %}
