{% extends 'selia/components/list_item.html' %}
{% load selia_buttons %}
{% load selia_tags %}
{% load static %}
{% load i18n %}

{% block list-item-content %}
  <div class="row w-100">
  <div class="col">
    {% listtitle %}
      {% list_icon item.sampling_event_type.icon %}
    {% endlistimage %}
      {% trans 'Sampling event' %}
    {% endlistheader %}
      <div>
        {{ item.sampling_event_type }}
      </div>
      <div>
        <a href="{% url 'selia:sampling_event_detail' item.pk %}">
          {% enter_button %}
        </a>
      </div>
    {% endlisttitle %}
  </div>
    <div class="col">
      {% if not collection %}
      <div class="row">
        {% listattribute %}
          {% trans 'Collection' %}
        {% attributevalue %}
          {{ item.collection }}
        {% endlistattribute %}
      </div>
      {% endif %}
      <div class="row">
        {% listattribute %}
          {% trans 'Collection Site' %}
        {% attributevalue %}
          <a href="{% url 'selia:collection_site_detail' item.collection_site.pk %}">
            {{ item.collection_site.internal_id }}
          </a>
        {% endlistattribute %}
      </div>
      {% if item.collection_site.site.created_by == request.user %}
        {% if item.collection_site.site.name %}
        <div class="row">
          {% listattribute %}
            {% trans 'Site name' %}
          {% attributevalue %}
            {{ item.collection_site.site.name }}
          {% endlistattribute %}
        </div>
        {% endif %}
      {% endif %}
      {% if item.collection_site.site.locality %}
      <div class="row">
        {% listattribute %}
          {% trans 'Site locality' %}
        {% attributevalue %}
          {{ item.collection_site.site.locality }}
        {% endlistattribute %}
      </div>
      {% endif %}
      <div class="row">
        {% listattribute %}
          {% trans 'Site latitude' %}
        {% attributevalue %}
          {{ item.collection_site.site.latitude | floatformat:'3' }}
        {% endlistattribute %}
      </div>
      <div class="row">
        {% listattribute %}
          {% trans 'Site longitude' %}
        {% attributevalue %}
          {{ item.collection_site.site.longitude | floatformat:'3' }}
        {% endlistattribute %}
      </div>
    </div>

    <div class="col">
      <div class="row">
        {% listattribute %}
          {% trans 'Started on' %}
        {% attributevalue %}
          {{ item.started_on | date }}
        {% endlistattribute %}
      </div>
      <div class="row">
        {% listattribute %}
          {% trans 'Ended on' %}
        {% attributevalue %}
          {{ item.ended_on | date }}
        {% endlistattribute %}
      </div>
      <div class="row">
        {% listattribute %}
          {% trans 'Created by' %}
        {% attributevalue %}
          {{ item.created_by.username }}
        {% endlistattribute %}
      </div>
    </div>

    <div class="col">
      <div class="row">
        {% listsummary %}
          {% trans 'Deployed devices' %}
        {% summarycount %}
          {{ item.samplingeventdevice_set.count }}
        {% summarybuttons %}
          <a href="{% url 'selia:sampling_event_devices' item.pk %}">
            {% see_button %}
          </a>
          <a class="ml-2" href="{% url 'selia:create_sampling_event_device' %}?sampling_event={{ item.pk }}&collection={{ item.collection.pk }}">
            {% add_button %}
          </a>
        {% endlistsummary %}
      </div>
      <div class="row">
        {% listsummary %}
          {% trans 'Items' %}
        {% summarycount %}
          {{ item.items.count }}
        {% summarybuttons %}
          <a href="{% url 'selia:sampling_event_items' item.pk %}">
            {% see_button %}
          </a>
          <a class="ml-2" href="{% url 'selia:create_item' %}?sampling_event={{ item.pk }}&collection={{ item.collection.pk }}">
            {% add_button %}
          </a>
        {% endlistsummary %}
      </div>
    </div>
  </div>
{% endblock list-item-content %}
