{% extends 'selia/components/list_item.html' %}
{% load selia_buttons %}
{% load selia_tags %}
{% load static %}
{% load i18n %}

{% block list-item-content %}
<div class="row w-100">
  <div class="col">
    {% listtitle %}
      <div class="pr-2" style="width: 15em;">
        {{ item.map_widget_no_controls }}
      </div>
    {% endlistimage %}
      {% if item.name %}
        {{ item.name }}
      {% else %}
        {% trans 'Site' %} {{item.pk }}
      {% endif %}
    {% endlistheader %}
      {% if item.locality %}
        <div>{{ item.locality }}</div>
      {% endif %}
      <a href="{% url 'selia:site_detail' item.pk %}">
        {% enter_button %}
      </a>
    {% endlisttitle %}
  </div>
  <div class="col">
    <div class="row">
      {% listattribute %}
        {% trans 'Latitude' %}
      {% attributevalue %}
        {{ item.latitude|floatformat:'3' }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Longitude' %}
      {% attributevalue %}
        {{ item.longitude|floatformat:'3' }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Altitude' %}
      {% attributevalue %}
        {{ item.altitude|floatformat:'1' }}
      {% endlistattribute %}
    </div>
  </div>

  <div class="col">
    <div class="row">
      {% listsummary %}
        {% trans 'Collections' %}
      {% summarycount %}
        {{ item.collectionsite_set.count }}
      {% endlistsummary %}
    </div>
    <div class="row">
      {% listsummary %}
        {% trans 'Items captured' %}
      {% summarycount %}
        {{ item.items.count }}
      {% endlistsummary %}
    </div>
    <div class="row">
      {% listsummary %}
        {% trans 'Sampling events' %}
      {% summarycount %}
        {{ item.sampling_events.count }}
      {% endlistsummary %}
    </div>
  </div>
</div>
{% endblock list-item-content %}
