{% extends 'selia_templates/list/list_item.html' %}
{% load selia_buttons %}
{% load selia_tags %}
{% load selia_maps %}
{% load static %}
{% load i18n %}

{% block list-item-content %}
<div class="row w-100 h-100">
  <div class="col h-100">
    {% listtitle %}
      <div class="h-100" style="width: 10em;">
        {% site_map_list item %}
      </div>
    {% endlistimage %}
      {% if item.name %}
        {{ item.name }}
      {% else %}
        {% trans 'Site' %} {{item.pk }}
      {% endif %}
    {% endlistheader %}
      {% if item.locality %}
        <div>{{ item.locality.name }}</div>
      {% endif %}
      <a href="{% url 'selia:site_detail' item.pk %}">
        {% enter_button %}
      </a>
    {% endlisttitle %}
  </div>
  <div class="col">
    <div class="row">
      {% listattribute %}
        {% trans 'Latitude' %}
      {% attributevalue %}
        {{ item.latitude|floatformat:'3' }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Longitude' %}
      {% attributevalue %}
        {{ item.longitude|floatformat:'3' }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Altitude' %}
      {% attributevalue %}
        {{ item.altitude|floatformat:'1' }}
      {% endlistattribute %}
    </div>
  </div>

  <div class="col">
    <div class="row">
      {% listsummary %}
        {% trans 'Collections' %}
      {% summarycount %}
        {{ item.collectionsite_set.count }}
      {% summarybuttons %}
        <a href="{% url 'selia:user_collections' %}?collectionsite__site={{ item.pk }}">
          {% see_button %}
        </a>
        <a class="ml-2" href="{% url 'selia:create_collection_site' %}?site={{ item.pk }}">
          {% add_button %}
        </a>
      {% endlistsummary %}
    </div>
    <div class="row">
      {% listsummary %}
        {% trans 'Items' %}
      {% summarycount %}
        {{ item.items.count }}
      {% summarybuttons %}
        <a href="{% url 'selia:user_items' %}?sampling_event_device__sampling_event__collection_site__site={{ item.pk }}">
          {% see_button %}
        </a>
        <a class="ml-2" href="{% url 'selia:create_item' %}?site={{ item.pk }}&collection_site_filter-site={{ item.pk }}&sampling_event_filter-collection_site__site={{ item.pk }}">
          {% add_button %}
        </a>
      {% endlistsummary %}
    </div>
    <div class="row">
      {% listsummary %}
        {% trans 'Sampling events' %}
      {% summarycount %}
        {{ item.sampling_events.count }}
      {% summarybuttons %}
        <a href="{% url 'selia:user_sampling_events' %}?collection_site__site={{ item.pk }}">
          {% see_button %}
        </a>
        <a class="ml-2" href="{% url 'selia:create_sampling_event' %}?site={{ item.pk }}&collection_site_filter-site={{ item.pk }}">
          {% add_button %}
        </a>
      {% endlistsummary %}
    </div>
  </div>
</div>
{% endblock list-item-content %}
