{% load i18n %}

{% url 'selia_about:selia' as selia_about %}
{% url 'selia:user_collections' as selia_collections %}
{% url 'selia:user_home' as user_home %}

<li class="nav-item">
  {% if selia_about in request.path %}
  <a class="nav-link active" href={{ selia_about|urlencode }}>{% trans "About" %}</a>
  {% else %}
  <a class="nav-link" href={{ selia_about|urlencode }}>{% trans "About" %}</a>
  {% endif %}
</li>

<li class="nav-item">
  {% if selia_about not in request.path and user_home not in request.path %}
  <a class="nav-link active" href={{ selia_collections|urlencode }}>{% trans "Collections" %}</a>
  {% else %}
  <a class="nav-link" href={{ selia_collections|urlencode }}>{% trans "Collections" %}</a>
  {% endif %}
</li>

{% if user.is_authenticated %}
<li class="nav-item">
  {% if user_home in request.path %}
  <a class="nav-link active" href={{ user_home|urlencode }}>{% trans "User Home" %}</a>
  {% else %}
  <a class="nav-link" href={{ user_home|urlencode }}>{% trans "User Home" %}</a>
  {% endif %}
</li>
{% endif %}
