{% extends 'selia_templates/detail/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_buttons %}

{% block secondary-navbar %}
  {% include 'selia_user_home/navbars/user.html' %}
{% endblock secondary-navbar %}

{% block toolbar-title %}{% trans 'Home' %}{% endblock %}

{% block toolbar-items %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'selia_user_home:create_physical_device' %}">
      {% trans 'Add devices' %} <i class="fas fa-plus"></i> <i class="fas fa-tools"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'selia_user_home:create_site' %}">
      {% trans 'Add sites' %} <i class="fas fa-plus"></i> <i class="fas fa-map-marked-alt"></i>
    </a>
  </li>
  <li class="navbar-item ">
    <a class="nav-link" href="#">
      {% trans "Download Summary" %} <i class="fas fa-file-download"></i>
    </a>
  </li>
  <li class="navbar-item ">
    {% help_button %}
  </li>
{% endblock toolbar-items %}

{% block main-content %}
  <div class="container-fluid w-100">
    <div class="row bg-light my-4">
      <div class="container">
        {% detail_component detail_template=detail_template object=user %}
      </div>
    </div>
    <div class="row bg-light my-4">
      <div class="container">
        {% summary_component summary_template=summary_template object=user %}
      </div>
    </div>
  </div>
{% endblock main-content %}

{% block scripts-extra %}
  {{ block.super }}
  {{ form.media }}
{% endblock scripts-extra %}
