{% extends 'selia/navbars/bars/base.html' %}
{% load i18n %}

{% block navbar-brand %}
{% if user.is_authenticated %}
<a class="navbar-brand" href="{% url 'selia:user_collections' %}">{% trans 'Collections' %}</a>
{% else %}
<a class="navbar-brand" href="{% url 'selia:open_collections' %}">{% trans 'Collections' %}</a>
{% endif %}
{% endblock %}

{% block navbar-items %}
{% if user.is_authenticated %}
{% url 'selia:user_collections' as user_url %}
<li class="nav-item">
  {% if user_url == request.path|urlencode %}
  <a class="nav-link active" href={{ user_url }}>
  {% else %}
  <a class="nav-link" href={{ user_url }}>
  {% endif %}
    <i class="fas fa-archive"></i>
    {% trans 'My Collections' %}
  </a>
</li>
{% endif %}

{% url 'selia:open_collections' as open_url %}
<li class="nav-item">
  {% if open_url == request.path|urlencode %}
  <a class="nav-link active" href={{ open_url }}>
  {% else %}
  <a class="nav-link" href={{ open_url }}>
  {% endif %}
    <i class="fas fa-lock-open"></i>
    {% trans 'Open Collections' %}
  </a>
</li>
{% endblock %}
