{% extends 'selia_templates/navbars/navbar_base.html' %}
{% load i18n %}
{% load selia_tags %}

{% block class-name %}item{% endblock %}

{% block navbar-brand %}
<a class="navbar-brand text-truncate" href="{% url 'selia:item_detail' item.pk %}">
  {% trans 'Item' %}: {{ item }}
</a>
{% endblock %}

{% block navbar-items %}
{% url 'selia:item_detail' item.pk as detail_url %}
{% tab detail_url %}
  <i class="fas fa-info"></i>
  {% trans 'About' %}
{% endtab %}

{% tab annotation_app_url %}
  <i class="fas fa-pencil-alt"></i>
  {% trans 'Annotations' %}
{% endtab %}
{% endblock %}
