{% extends 'selia_templates/create/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_filters %}
{% load selia_forms %}

{% block toolbar-title %}{% trans 'Add user device' %}{% endblock toolbar-title %}

{% block secondary-navbar %}
  {% include 'selia_user_home/navbars/user.html' %}
{% endblock secondary-navbar %}

{% block scripts-extra %}
 {% autocomplete_media %}
{% endblock %}

{% block toolbar-steps %}
<li>
  <a href="{% url 'selia_user_home:create_physical_device' %}?{{ request.GET|remove_fields:'device_type'}}">
    {% trans 'Select Device Type' %}
  </a>
</li>
<li class="is-active">{% trans 'Select hardware' %}</li>
<li>{% trans 'Fill in details' %}</li>
{% endblock %}

{% block step-title %}
  {% trans 'Select hardware' %}
{% endblock %}

{% block previously-selected %}
  {% trans 'Selected Device Type' as label %}
  {% selected_item 'device_types' device_type label app='selia_user_home' %}
{% endblock previously-selected %}

{% block step-description %}
  {% blocktrans %}
    Select the brand, model and device type.
  {% endblocktrans %}
{% endblock %}

{% block empty-message %}
{% endblock %}

{% block form %}
<form action="?{{ request.GET.urlencode }}" method="post">
  {% csrf_token %}
  <div class="col">
    <div class="row">
      <p class="text-muted">{% trans 'Search and select a previously registered device:' %}</p>
      {% bootstrap_form form.device %}
    </div>
    <div class="row justify-content-center">
      <input type="submit" class="btn btn-primary" value="{% trans 'Select' %}">
    </div>
    <div class="row text-center my-4">
      <p class="text-muted w-100">Or</p>
    </div>
    <div class="row">
      <div class="col">
        <div class="row">
          <p class="text-muted">{% trans 'Register a new device:' %}</p>
        </div>
        <div class="form-row row">
          <div class="form-group col">
            {% bootstrap_form form.brand %}
          </div>
          <div class="form-group col">
            {% bootstrap_form form.model %}
          </div>
        </div>
        <div class="row justify-content-center">
          <input type="submit" class="btn btn-primary" value="{% trans 'Select' %}">
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

<div class="container">
  <div class="form-group">
    {{ form.device.errors }}
    <label for="{{ form.device.id_for_label }}">{% trans 'Device' %}</label>
    <div class="row">
      <div class="col-10">
        {{ form.device }}
      </div>
      <div class="col-2">
        <input type="submit" class="btn btn-primary" value="{% trans 'Select' %}">
      </div>
    </div>
    <small id="deviceHelp" class="form-text text-muted">
      {% trans 'Please search for the device' %} {% trans 'or'%} <a href="#collapseDevice" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseDevice">{% trans 'create a new one' %}</a>
    </small>
  </div>
</div>

<div class="container-fluid px-4 pb-5">
  <div class="collapse" id="collapseDevice">
    <div class="card card-body">
      <h5 class="w-100 text-center">{% trans 'Create new device' %}</h5>
      <div class="d-flex flex-column mb-3">
        {{ form.device_type.errors }}
        {{ form.device_type.label_tag }}
        <div class="d-flex flex-row">
          {{ form.device_type }}
        </div>
      </div>
      <div class="form-row row">
        <div class="form-group col">
          {% bootstrap_form form.brand %}
        </div>
        <div class="form-group col">
          {% bootstrap_form form.model %}
        </div>
      </div>
      <div class="d-flex w-100 justify-content-end">
        <input type="submit" class="btn btn-link text-primary" value="{% trans 'Add' %}">
      </div>
    </div>
  </div>

</div>
