{% extends 'selia_templates/create/base.html' %}
{% load i18n %}
{% load selia_tags %}
{% load selia_forms %}

{% block toolbar-title %}
  {% trans 'Add user device' %}
{% endblock toolbar-title %}

{% block secondary-navbar %}
  {% include 'selia_user_home/navbars/user.html' %}
{% endblock secondary-navbar %}

{% block toolbar-steps %}
<li class="is-active">{% trans 'Select Device Type' %}</li>
<li>{% trans 'Select hardware' %}</li>
<li>{% trans 'Fill in details' %}</li>
{% endblock %}

{% block step-title %}
  {% trans 'Select Device Type' %}
{% endblock %}

{% block step-description %}
  {% blocktrans %}
    Select the device type.
  {% endblocktrans %}
{% endblock %}

{% block empty-message %}
{% endblock %}

{% block form %}
<form action="?{{ request.GET.urlencode }}" method="post">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      {% bootstrap_form form.device_type %}
    </div>
    <div class="row justify-content-center">
      <input type="submit" class="btn btn-primary" value="{% trans 'Select' %}">
    </div>
  </div>
</form>
{% endblock %}
