<div
  class="modal fade"
  id="{{ modal_id }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog {% block modal-class %}{% endblock %}"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        {% block modal-header %}
        <h5
          class="modal-title"
          id="{{ modal_id }}Label"
        >{% block modal-title %}Modal title{% endblock %}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        {% endblock %}
      </div>
      <div class="modal-body">
        {% block modal-body %}{% endblock %}
      </div>
      <div class="modal-footer">
        {% block modal-footer %}
        <button
          type="button"
          class="btn btn-text text-secondary"
          data-dismiss="modal"
        >Close</button>
        <button
          type="button"
          class="btn btn-text text-primary"
        >Save changes</button>
        {% endblock %}
      </div>
    </div>
  </div>
</div>
