{% extends 'selia_user_home/summaries/users.html' %}

{% block summary %}
<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125">
    <strong class="d-block text-gray-dark">{% trans 'Collections' %}</strong>
    <div class="row">
      <div class="col-3">
        {% trans 'Number' %}: {{ object.collection_users.count }}
      </div>
      <div class="col-6">
        {% trans 'Last added' %}: {{ object.collection_users.first }}
      </div>
      <div class="col-1">
        <a href="{% url 'selia:user_collections' %}">{% see_button %}</a>
      </div>
    </div>
  </div>
</div>
<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125">
    <strong class="d-block text-gray-dark">{% trans 'Sampling events' %}</strong>
    <div class="row">
      <div class="col-3">
        {% trans 'Number' %}: {{ object.samplingevent_created_by.count }}
      </div>
      <div class="col-6">
        {% trans 'Last added on' %}: {{ object.samplingevent_created_by.first.created_on }}
      </div>
      <div class="col-1">
        <a href="{% url 'selia:user_sampling_events' %}">{% see_button %}</a>
      </div>
      <div class="col-2">
        <a href="{% url 'selia:create_sampling_event' %}">{% add_button %}</a>
      </div>
    </div>
  </div>
</div>
<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125">
    <strong class="d-block text-gray-dark">{% trans 'Items' %}</strong>
    <div class="row">
      <div class="col-3">
        {% trans 'Number' %}: {{ object.item_created_by.count }}
      </div>
      <div class="col-6">
        {% trans 'Last added on' %}: {{ object.item_created_by.first.created_on }}
      </div>
      <div class="col-1">
        <a href="{% url 'selia:user_items' %}">{% see_button %}</a>
      </div>
      <div class="col-2">
        <a href="{% url 'selia:create_item' %}">{% add_button %}</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
