{% load i18n %}
{% load selia_components %}

<div class="row">
  <div class="col-7 d-flex">

    <div class="container">
      <input type="hidden" id="img_url" name="img_url" value="{{ item.item_file.url }}">
      {% if mode == 'edit' %}
      <input type="hidden" id="prev_annotation" name="prev_annotation" value="{{ annotation.annotation }}">
      <input type="hidden" id="prev_label" name="prev_label" value="{{ annotation.label }}">
      {% endif %}

      <div class="row description_object">
        <canvas id="canvas" class="border w-100" width="1000" style="background-image: url({{ item.item_file.url }}); background-size: contain; background-repeat: no-repeat;"></canvas>
      </div>

      <div class="row-1 p-2 small_toolbar" align="right">
        <div class="col">
          <button id="canvas_clean" type="button" class="button_small_toolbar">
            {% trans 'Clear' %}<i class="fas fa-eraser"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-5 description_object">

    {% if mode == 'create' %}
      <h4>{% trans 'New image annotation:' %}</h4>
    {% else %}
      <h4>{% trans 'Edit image annotation:' %}</h4>
    {% endif %}

    <input type="hidden" id="term_type" name="term_type" value="especie">
    <form id="addAnnForm" action="?chain={{ chain }}{% if mode == 'edit' %}&mode=edit&annotation={{ annotation.pk }}{% endif %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" id="item_field" name="item" value="{{ item.pk }}" term_type="">
      <input type="hidden" id="event_type_field" name="event_type" value="Animal en Foto">
      <input type="hidden" id="annotation_type_field" name="annotation_type" value="Bounding Box">
      <input type="hidden" id="annotation_field" name="annotation" value="{}">
      <input type="hidden" id="annotation_tool_field" name="annotation_tool" value="1">

      <div class="row my-3">
        <div class="col">
          {% trans 'Label:' %}
         <input type="text" id="tax_label" name="label" style='width:100%;' class="form-control" placeholder="{% trans ' Species common or scientific name' %}" required>
        </div>
      </div>

      <div class="row my-3">
        <div class="col">
          {% bootstrap_form form.quality %}
        </div>
        <div class="col">
          {% bootstrap_form form.certainty %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% bootstrap_form form.commentaries %}
        </div>
      </div>

      <div class="row">
        <div class="col" align="right">
          <button type="submit" class="btn btn-primary">
            {% if mode == 'create' %}
            {% trans 'Add annotation' %}
            {% else %}
            {% trans 'Save changes' %}
            {% endif %}
          </button>
        </div>

        {% if mode == 'edit' %}
        <div class="col" align="left">
          <a href="{{ request.get_full_path }}" class="btn btn-primary">{% trans 'Restore' %}</a>
        </div>
        {% endif %}
      </div>
    </form>
  </div>
</div>
