{% load i18n %}
{% load selia_buttons %}

<div class="row">
  <div class="col">
    <div class="media text-muted pt-3">
      <div class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Sites added to collection' %}</strong>
        <div class="row">
          <div class="col">
            <a href="{% url 'selia:collection_sites' collection.pk %}?created_by={{object.user.pk}}">{{ summary_info.collection_sites }} {% see_button %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="media text-muted pt-3">
      <div class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Devices added to collection' %}</strong>
        <div class="row">
          <div class="col">
            <a href="{% url 'selia:collection_devices' collection.pk %}?created_by={{object.user.pk}}">{{ summary_info.collection_devices }} {% see_button %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col">
    <div class="media text-muted pt-3">
      <div class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Sampling events created in collection' %}</strong>
        <div class="row">
          <div class="col">
            <a href="{% url 'selia:collection_sampling_events' collection.pk %}?created_by={{object.user.pk}}">{{ summary_info.sampling_events }} {% see_button %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="media text-muted pt-3">
      <div class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Items added to collection' %}</strong>
        <div class="row">
          <div class="col">
            <a href="{% url 'selia:collection_items' collection.pk %}?created_by={{object.user.pk}}">{{ summary_info.items }} {% see_button %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="media text-muted pt-3">
      <div class="media-body pb-3 mb-0 small lh-125">
        <strong class="d-block text-gray-dark">{% trans 'Annotations added to collection' %}</strong>
        <div class="row">
          <div class="col">
            {{ summary_info.collection_devices }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
