{% load i18n %}
{% load selia_buttons %}

<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125">
    <strong class="d-block text-gray-dark">{% trans 'Collections' %}</strong>
    <div class="row">
      <div class="col-3">
        {% trans 'Number' %}: {{ object.collection_users.count }}
      </div>
      <div class="col-7">
        {% trans 'Last added' %}: {{ object.collection_users.first }}
      </div>
      <div class="col-2">
        <a href="{% url 'selia:user_collections' %}">{% see_button %}</a>
      </div>
    </div>
  </div>
</div>
<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125">
    <strong class="d-block text-gray-dark">{% trans 'Sites' %}</strong>
    <div class="row">
      <div class="col-3">
        {% trans 'Number' %}: {{ object.site_created_by.count }}
      </div>
      <div class="col-7">
        {% trans 'Last added on' %}: {{ object.site_created_by.first.created_on }}
      </div>
      <div class="col-2">
        <a href="{% url 'selia:user_sites' %}">{% see_button %}</a>
      </div>
    </div>
  </div>
</div>
<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125">
    <strong class="d-block text-gray-dark">{% trans 'Devices' %}</strong>
    <div class="row">
      <div class="col-3">
        {% trans 'Number' %}: {{ object.physicaldevice_created_by.count }}
      </div>
      <div class="col-7">
        {% trans 'Last added on' %}: {{ object.physicaldevice_created_by.first.created_on }}
      </div>
      <div class="col-2">
        <a href="{% url 'selia:user_physical_devices' %}">{% see_button %}</a>
      </div>
    </div>
  </div>
</div>
<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125">
    <strong class="d-block text-gray-dark">{% trans 'Sampling events' %}</strong>
    <div class="row">
      <div class="col-3">
        {% trans 'Number' %}: {{ object.samplingevent_created_by.count }}
      </div>
      <div class="col-7">
        {% trans 'Last added on' %}: {{ object.samplingevent_created_by.first.created_on }}
      </div>
      <div class="col-2">
        <a href="{% url 'selia:user_sampling_events' %}">{% see_button %}</a>
      </div>
    </div>
  </div>
</div>
<div class="media text-muted pt-3">
  <div class="media-body pb-3 mb-0 small lh-125">
    <strong class="d-block text-gray-dark">{% trans 'Items' %}</strong>
    <div class="row">
      <div class="col-3">
        {% trans 'Number' %}: {{ object.item_created_by.count }}
      </div>
      <div class="col-7">
        {% trans 'Last added on' %}: {{ object.item_created_by.first.created_on }}
      </div>
      <div class="col-2">
        <a href="{% url 'selia:user_items' %}">{% see_button %}</a>
      </div>
    </div>
  </div>
</div>
