{% extends 'selia/components/select_list_item.html' %}
{% load static %}
{% load selia_tags %}
{% load i18n %}

{% block list-item-content %}
<div class="row ml-0 w-100">
  <div class="col">
    {% listtitle %}
      <div class="mr-2 rounded" style="width: 15em;">
        {{ item.site.map_widget_no_controls }}
      </div>
    {% endlistimage %}
      {% if item.name %}
        {{ item.name }}
      {% else %}
        {% trans 'Site' %}
      {% endif %}
    {% endlistheader %}
      <div>
        {{ item.site_type }}
      </div>
    {% endlisttitle %}
  </div>

  <div class="col">
    <div class="row">
      {% listattribute %}
        {% trans 'Latitude' %}
      {% attributevalue %}
        {{ item.site.latitude|floatformat:'3' }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Longitude' %}
      {% attributevalue %}
        {{ item.site.longitude|floatformat:'3' }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Altitude' %}
      {% attributevalue %}
        {{ item.site.altitude|floatformat:'1' }}
      {% endlistattribute %}
    </div>
  </div>

  <div class="col">
    <div class="row">
      {% listattribute %}
        {% trans 'Locality' %}
      {% attributevalue %}
        {{ item.site.locality }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Created on' %}
      {% attributevalue %}
        {{ item.site.created_on | date }}
      {% endlistattribute %}
    </div>
    <div class="row">
      {% listattribute %}
        {% trans 'Created by' %}
      {% attributevalue %}
        {{ item.site.created_by.username }}
      {% endlistattribute %}
    </div>
  </div>

</div>
{% endblock list-item-content %}
