{% load i18n %}
{% load selia_filters %}
{% load selia_forms %}

{{ form.errors }}

<div class="row">
  <div class="col">
    {% bootstrap_form form.started_on %}
  </div>
  <div class="col">
    {% bootstrap_form form.ended_on %}
  </div>
</div>

<div class="row mt-3">
  <div class="col">
    {% bootstrap_form form.commentaries %}
  </div>
</div>

{% if object.sampling_event_type.metadata_schema|is_not_trivial_schema %}
<div class="row mt-3">
  <div class="col">
    {{ form.metadata }}
  </div>
</div>
{% endif %}
