<div class="collapse w-100" id="extraNavbars">
  {% include 'selia/navbars/bars/collections.html' with collapse=True id='collections' %}
  {% include 'selia/navbars/bars/collection.html' with collapse=True id='collection' %}
  {% if sampling_event %}
    {% include 'selia/navbars/bars/sampling_event.html' with collapse=True id='sampling_event' %}
  {% endif %}
  {% if deployment %}
    {% include 'selia/navbars/bars/deployment.html' with collapse=True id='deployment' %}
  {% endif %}
</div>
{% include 'selia/navbars/bars/item.html' with collapse=False id='item' %}
