{% extends 'selia/navbars/sampling_event_device.html' %}
{% load i18n %}

{% block navbar %}
{{ block.super }}
<div class="m-0 row w-100 secondary-navbar item-bar">
  <div class="row h-100 w-100 m-0">
    <ul class="nav w-100 nav-tabs">
      <li class="nav-item col-4">
        <a class="navbar-brand" href="{% url 'selia:item_detail' item.pk %}">
          {% trans 'Item' %}: {{ item }}
        </a>
      </li>
      {% url 'selia:item_detail' item.pk as detail_url %}
      <li class="nav-item">
        {% if detail_url == request.path|urlencode %}
        <a class="nav-link active" href={{ detail_url }}>
        {% else %}
        <a class="nav-link" href={{ detail_url }}>
        {% endif %}
          <i class="fas fa-info"></i>
          {% trans 'About' %}
        </a>
      </li>

      {% url 'selia_annotator:annotator_app' as detail_url %}
      <li class="nav-item">
        {% if detail_url in request.path|urlencode %}
        <a class="nav-link active" href={{ detail_url }}?pk={{ item.pk }}>
        {% else %}
        <a class="nav-link" href={{ detail_url }}?pk={{ item.pk }}>
        {% endif %}
        <i class="fas fa-pencil-alt"></i>
          {% trans 'Annotations' %}
        </a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
