{% extends 'selia/navbars/collection.html' %}
{% load i18n %}

{% block navbar %}
<div class="collapse w-100" id="extraNavbars">
  <div class="m-0 d-flex flex-row w-100 secondary-navbar collections-bar">
    <div class="navbar-collapse-button">
    </div>
    <div class="row h-100 w-100 m-0">
      {% include 'selia/navbars/bars/collections.html' %}
    </div>
  </div>

  <div class="m-0 d-flex flex-row w-100 secondary-navbar collection-bar">
    <div class="navbar-collapse-button">
    </div>
    <div class="row h-100 w-100 m-0">
      {% include 'selia/navbars/bars/collection.html' %}
    </div>
  </div>
</div>

<div class="m-0 d-flex flex-row w-100 secondary-navbar sampling-event-bar">
  <div class="navbar-collapse-button">
    <a class="btn btn-text text-primary" data-toggle="collapse" href="#extraNavbars" role="button" aria-expanded="false" aria-controls="extraNavbars" id="navbarButton">
      <i class="fas fa-chevron-up" id="navbarButtonIcon"></i>
    </a>
  </div>
  <div class="row h-100 w-100 m-0">
    {% include 'selia/navbars/bars/sampling_event.html' %}
  </div>
</div>
{% endblock %}
